[alias]
	# helper for fzf multi select with alt-enter
	fuzzy-- = !"FZF_DEFAULT_OPTS=\"--multi --bind 'alt-enter:select-all+accept'\" fzf -1"

	# git a: fuzzy find files to stage
	a = !"git ls-files -mo | git fuzzy-- | xargs git add"

	# git r: fuzzy find files to unstage
	r = !"git diff --name-only --cached | git fuzzy-- | xargs git reset"

	# git ap: fuzzy find files to partially stage
	ap = !"git ls-files -m | git fuzzy-- | xargs -o git add -p"

	# git slog <number>: show <number> past commit messages
	slog = !"git --no-pager log -n \"$1\" --oneline #"

	# git adog: doggy graph
	adog = log --all --decorate --oneline --graph

	# remove deleted remote branches
	trim = !"git remote prune origin"

	# delete local branches that have no remote anymore
	tidy = !"git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D"

	# ammend staged changes to last commit
	recommit = !"git commit --amend --no-edit"

	# soft reset previous commit
	uncommit = !"git reset --soft HEAD^"

	# force push with lease
	punch = !"git push --force-with-lease"

	# delete all files that are on .gitignore
	purge = clean -Xdf

	# delete everything but the git folder
	empty = !sh -c 'find . -path ./.git -prune -o -exec rm -rf {} + 2> /dev/null'

[core]
	autocrlf = input
	pager = delta	

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[user]
	name = Paul Naber
	email = paul.naber@inside-m2m.de

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	default = simple
        autoSetupRemote = true
