[alias]
[core]
	autocrlf = input
	; pager = delta	
	pager = diff-so-fancy | sed -r 's/^([+-])//'

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[user]
	name = Paul Naber
	email = paul.naber@inside-m2m.de

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	default = simple
        autoSetupRemote = true

[diff-so-fancy]
	stripLeadingSymbols = true
